@model IEnumerable<Dropbox06.Models.Department>
<p>
    <a asp-action="AddDepartment">
        Add a Department
    </a>
</p>
@{
    if (Model.Count() < 1)
    {
        <p>No Department in the database yet.</p>
    }
    else
    {
        <h3>All Departments</h3>
        <table border="1">
            <tr>
                <th>Department ID</th>
                <th>Department Name</th>
                <th>Phone Number</th>
                <th>Email Address</th>
                <th>Office Location</th>
            </tr>
            @foreach (var department in Model)
                {
        <tr>
            <td>@department.DepartmentId</td>
            <td>@department.DepartmentName</td>
            <td>@department.Phone</td>
            <td>@department.Email</td>
            <td>@department.Office</td>
        </tr>
                }
        </table>
    }
}